.app {
}


.header {
  background-color: #222;
  height: 350px;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.app-title {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}
